*, *::before, *::after { 
    box-sizing: border-box; 
}

html {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(226, 43%, 10%);
    color: hsl(0, 0%, 100%);
}

main {
    /* display: grid; */
    /* border: 2px solid ; */
    margin: 3.5rem 1rem;
}

h1 {
    font-size: 1.5rem;
    opacity: .9;
    font-weight: 400;
}

h2 {
    margin: 0;
    padding: 0;
}

img {
    height: auto;
}

p {
    margin: 0;
    padding: 0;
}

section {
    margin-bottom: 1rem;
}

.profile {
    border-radius: .7rem;
    overflow: hidden;
    background-color: hsl(235, 46%, 20%);
    text-align: center;
}

.profile-details {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background-color: hsl(235, 45%, 61%);
    padding: 1.5rem;
    border-radius: .7rem;
    text-align: left;
}

.profile-info p, h1 {
    margin: 0;
}

.profile-info p {
    font-weight: 300;
    font-size: .9rem;
    opacity: .7;
}

.profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic, .profile-pic img {
    width: 60px;
    height: 60px;
}

.frequency-btn {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

button {
    border: none;
    background: none;
    font-weight: 400;
    color: hsl(235, 45%, 61%);
    font-size: .9rem;
    margin: 0;
    padding: 0;
}

button:hover, button:focus{
    color: #fff;
    cursor: pointer;
}

.card {
    overflow: hidden;
    border-radius: .7rem;
}

.icon {
    position: relative;
    height: 45px;
    overflow: hidden;
}

.icon img {
    position: absolute;
    top: -10px;
    right: 15px;
}
.details {
    background-color: hsl(235, 46%, 20%);
    border-radius: .7rem;
    padding: 1.5rem 1rem;
}

.details:hover {
    background-color: hsl(236, 45%, 25%);
    cursor: pointer;
}

.card-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-header h2 {
    font-size: 1.1rem;
    font-weight: 500;
    /* opacity: .9; */
}

.menu-icon {
    justify-self: end;
    align-self: start;
    cursor: pointer;
}

.menu-icon svg path {
  fill: #BBC0FF; /* default */
  transition: fill 0.3s ease;
}

.menu-icon:hover svg path {
  fill: #fff; /* changes on hover */
}



/* svg {
    fill: #fff;
} */

.hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: .5rem;
}

.current-hours {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.previous-hours {
    font-size: .8rem;
    font-weight: 400;
    opacity: .8;
    justify-self: end;
}

.work-section {
    background-color: hsl(15, 100%, 70%);
}

.play-section {
    background-color: hsl(195, 74%, 62%);
}

.study-section {
    background-color: hsl(348, 100%, 68%);
}

.exercise-section {
    background-color: hsl(145, 58%, 55%);
}

.social-section {
    background-color: hsl(264, 64%, 52%);
}

.self-care-section {
    background-color: hsl(43, 84%, 65%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}